.task-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  max-height: 380px;
  overflow-y: auto;
}
h3 {
  margin-bottom: 1rem;
}
.button {
  min-width: 120px;
  color: white;
  background-color: #006daaff;
  font-size: 1rem;
  font-family: inherit;

  padding: 0.75em 2em;
  border: none;
  border-radius: 10px;
}
