.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.add-task label {
  font-size: 1.5rem;
  background-color: rgb(35, 61, 75);
  padding: 0.25em 1em;
  border-radius: 20px;
}
.add-task input {
  max-width: 50%;
  color: white;
  background-color: #0f1a20ff;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}
.add-task input[type="number"] {
  max-width: 30%;
}
.button--cancel {
  background-color: #006daa77;
}
.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
