.control-buttons {
  --small-btn-width: 120px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}
.control-buttons .button {
  width: var(--small-btn-width);
}
.control-buttons .button--wide {
  width: calc(2 * var(--small-btn-width) + 1rem);
}
