* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: white;
  background-color: #0f1a20ff;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
.app {
  max-width: 72rem;
  margin: 0 auto;
  text-align: center;
}
