* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: white;
  background-color: #0f1a20ff;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  max-width: 72rem;
  margin: 0 auto;
  text-align: center;
}
.button {
  min-width: 120px;
  color: white;
  background-color: #006daaff;
  font-size: 1rem;
  font-family: inherit;

  padding: 0.75em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
